body {
    
    background-color: darkcyan;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 100px;
    color: chartreuse;
  }
  input {
    text-align: center;
    background-color: black;
    border: 3px solid greenyellow;
    color: rgb(77, 77, 236);
    padding: 10px;
    margin: 20px 0 ;
    height: 10px;
    font-size: large;
    
  }
  .output {
    width: 100px;
    background-color: rgb(7, 0, 0);
    text-align: center;
    margin:20px;
    font-weight: bold;
    color: rgb(77, 77, 236);
    font-size: large;
    margin-left: 135px;
    

  }

  
  .box1 {
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 500px;
    margin-right: 250px;
    height: 350px;
    width: 450px;
    background-color:  rgb(34, 35, 35);
    color: rgb(77, 77, 236);
    padding: 20px;
    border: 5px solid purple ;
    text-align: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
button {
  height: 40px;
  text-align: center;
  text-size-adjust: 100px;
  size: 100px;
    background-color: black;
    border: 3px solid greenyellow;
    color: rgb(77, 77, 236);
    padding: 10px;
    margin-left: 135px ;
    font-size: large;
}
h1 {
  text-align: center;
  color: rgb(138, 15, 238);
}
label {
  font-size: large;
}
